.page{
    background-color: #202020;
}
.movies{
    border-top: 1px solid #424242;
    padding-top: 40px;
    min-height: 37vh;
}
.movies__container{
    max-width: 89%;
    margin: 0 auto;
}
.movies__not-found{
 color: #FFF;
 font-size: 1.2em;
 text-align: center;
}

.movies__more{
    padding: 9px 120px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    font-family: 'Inter','Arial',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background-color: #202020;
    border-radius: 6px;
    border: 1px solid #000;
    transform: background-color 0.6s linear;
}
.movies__more:hover{
background-color: #4285F4;
}